$color-gray-100: #ffffff;
$color-gray-200: #e6e6e6;
$color-gray-300: #d9d9d9;
$color-gray-400: #868e96;
$color-gray-500: #363636;
$color-gray-600: #1e1e1e;
$color-gray-700: #181818;

$color-brand-100: #c03b3b;

$text-font-stack: "Inter", "Arial", sans-serif;

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
